In [3]:
import pandas as pd
import numpy as np
#from pandas import Series,DataFrame
import trueskill as ts

In [7]:
df= pd.read_csv('aflstats_2006_2016.csv')

/home/abishek/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
df.head()

,Season,Round,Date,Local start time,Venue,Attendance,Home team,HQ1G,HQ1B,HQ2G,...,Marks Inside 50,One Percenters,Bounces,Goal Assists,Time on Ground %,Substitute,Umpire 1,Umpire 2,Umpire 3,Umpire 4
0,2006,1,2006-04-03,1910,Docklands,35434,Collingwood,5,1,7,...,0,5,0,0,100,0,Martin Ellis,Darren Goldspink,Scott Jeffery,NaN
1,2006,1,2006-04-03,1910,Docklands,35434,Collingwood,5,1,7,...,1,1,0,1,61,0,Martin Ellis,Darren Goldspink,Scott Jeffery,NaN
2,2006,1,2006-04-03,1910,Docklands,35434,Collingwood,5,1,7,...,0,2,1,2,78,0,Martin Ellis,Darren Goldspink,Scott Jeffery,NaN
3,2006,1,2006-04-03,1910,Docklands,35434,Collingwood,5,1,7,...,0,4,1,2,97,0,Martin Ellis,Darren Goldspink,Scott Jeffery,NaN
4,2006,1,2006-04-03,1910,Docklands,35434,Collingwood,5,1,7,...,0,0,0,1,64,0,Martin Ellis,Darren Goldspink,Scott Jeffery,NaN

In [11]:
print ('rows :', len(df.index))
print ('Column names are:')
print (df.columns.values)

rows : 94468
Column names are:
['Season' 'Round' 'Date' 'Local start time' 'Venue' 'Attendance'
 'Home team' 'HQ1G' ' HQ1B' ' HQ2G' ' HQ2B' ' HQ3G' ' HQ3B' 'HQ4G' 'HQ4B'
 'Home score' 'Home coach' 'Home coach DOB' 'Away team' 'AQ1G' ' AQ1B'
 ' AQ2G' ' AQ2B' ' AQ3G' 'AQ3B' 'AQ4G' 'AQ4B' 'Away score' 'Away coach'
 'Away coach DOB' 'First name' 'Surname' 'ID' 'DOB' 'Height' 'Weight'
 'Jumper No.' 'Playing for' 'Kicks' 'Marks' 'Handballs' 'Goals' 'Behinds'
 'Hit Outs' 'Tackles' 'Rebounds' 'Inside 50s' 'Clearances' 'Clangers'
 'Frees For' 'Frees Against' 'Brownlow Votes' 'Contested Possessions'
 'Uncontested Possessions' 'Contested Marks' 'Marks Inside 50'
 'One Percenters' 'Bounces' 'Goal Assists' 'Time on Ground %' 'Substitute'
 'Umpire 1' 'Umpire 2' 'Umpire 3' 'Umpire 4']

In [13]:
new_df = df.drop(['Local start time', 'Venue', 'Attendance', 'HQ1G', ' HQ1B', ' HQ2G', ' HQ2B', ' HQ3G', ' HQ3B', 'HQ4G', 'HQ4B',
                        'Home coach DOB','AQ1G', ' AQ1B', ' AQ2G', ' AQ2B', ' AQ3G', 'AQ3B', 'AQ4G', 'AQ4B','Away coach DOB', 
                         'Height', 'Weight', 'Jumper No.','Kicks', 'Marks', 'Handballs', 'Goals', 'Behinds', 'Hit Outs', 'Tackles', 
                         'Rebounds', 'Inside 50s', 'Clearances', 'Clangers', 'Frees For', 'Frees Against', 'Brownlow Votes', 
                         'Contested Possessions', 'Uncontested Possessions', 'Contested Marks', 'Marks Inside 50', 'One Percenters', 
                         'Bounces', 'Goal Assists', 'Substitute', 'Umpire 1', 'Umpire 2', 'Umpire 3', 'Umpire 4'],inplace = False,axis=1)
new_df.head()

,Season,Round,Date,Home team,Home score,Home coach,Away team,Away score,Away coach,First name,Surname,ID,DOB,Playing for,Time on Ground %
0,2006,1,2006-04-03,Collingwood,77,Mick Malthouse,Adelaide,111,Neil Craig,Nathan,Bassett,56,1976-12-07,Adelaide,100
1,2006,1,2006-04-03,Collingwood,77,Mick Malthouse,Adelaide,111,Neil Craig,Rhett,Biglands,83,1977-09-04,Adelaide,61
2,2006,1,2006-04-03,Collingwood,77,Mick Malthouse,Adelaide,111,Neil Craig,Matthew,Bode,90,1979-06-29,Adelaide,78
3,2006,1,2006-04-03,Collingwood,77,Mick Malthouse,Adelaide,111,Neil Craig,Brett,Burton,68,1978-05-04,Adelaide,97
4,2006,1,2006-04-03,Collingwood,77,Mick Malthouse,Adelaide,111,Neil Craig,Matthew,Clarke,78,1973-09-18,Adelaide,64

In [14]:
new_df['Player Name'] = new_df['First name']+' ' + new_df['Surname']
new_df['PlayerUniqueID'] = new_df['DOB']+ new_df['Player Name']
new_df.head()

,Season,Round,Date,Home team,Home score,Home coach,Away team,Away score,Away coach,First name,Surname,ID,DOB,Playing for,Time on Ground %,Player Name,PlayerUniqueID
0,2006,1,2006-04-03,Collingwood,77,Mick Malthouse,Adelaide,111,Neil Craig,Nathan,Bassett,56,1976-12-07,Adelaide,100,Nathan Bassett,1976-12-07Nathan Bassett
1,2006,1,2006-04-03,Collingwood,77,Mick Malthouse,Adelaide,111,Neil Craig,Rhett,Biglands,83,1977-09-04,Adelaide,61,Rhett Biglands,1977-09-04Rhett Biglands
2,2006,1,2006-04-03,Collingwood,77,Mick Malthouse,Adelaide,111,Neil Craig,Matthew,Bode,90,1979-06-29,Adelaide,78,Matthew Bode,1979-06-29Matthew Bode
3,2006,1,2006-04-03,Collingwood,77,Mick Malthouse,Adelaide,111,Neil Craig,Brett,Burton,68,1978-05-04,Adelaide,97,Brett Burton,1978-05-04Brett Burton
4,2006,1,2006-04-03,Collingwood,77,Mick Malthouse,Adelaide,111,Neil Craig,Matthew,Clarke,78,1973-09-18,Adelaide,64,Matthew Clarke,1973-09-18Matthew Clarke

In [15]:
new_df.to_csv('new_df.csv')

In [16]:
players = new_df['PlayerUniqueID']

In [17]:
len(players.unique())

1539

In [18]:
players_lower = players.str.lower()

if len(players_lower.unique()) == len(new_df['ID'].unique()):
    print("No duplicates")

No duplicates

In [19]:
# Create skill values for all players in the league
playerskill = {name:ts.Rating() for name in players.unique()}
playerskill

{'1976-12-07Nathan Bassett': trueskill.Rating(mu=25.000, sigma=8.333),
 '1977-09-04Rhett Biglands': trueskill.Rating(mu=25.000, sigma=8.333),
 '1979-06-29Matthew Bode': trueskill.Rating(mu=25.000, sigma=8.333),
 '1978-05-04Brett Burton': trueskill.Rating(mu=25.000, sigma=8.333),
 '1973-09-18Matthew Clarke': trueskill.Rating(mu=25.000, sigma=8.333),
 '1976-08-06Tyson Edwards': trueskill.Rating(mu=25.000, sigma=8.333),
 '1976-12-26Simon Goodwin': trueskill.Rating(mu=25.000, sigma=8.333),
 '1974-07-09Ben Hart': trueskill.Rating(mu=25.000, sigma=8.333),
 '1982-12-25Trent Hentschel': trueskill.Rating(mu=25.000, sigma=8.333),
 '1982-10-21Graham Johncock': trueskill.Rating(mu=25.000, sigma=8.333),
 '1986-09-25Chris Knights': trueskill.Rating(mu=25.000, sigma=8.333),
 '1982-08-06Martin Mattner': trueskill.Rating(mu=25.000, sigma=8.333),
 '1981-01-29Ken McGregor': trueskill.Rating(mu=25.000, sigma=8.333),
 '1976-08-04Andrew McLeod': trueskill.Rating(mu=25.000, sigma=8.333),
 '1979-04-09Ian Perrie': trueskill.Rating(mu=25.000, sigma=8.333),
 '1983-11-12Brent Reilly': trueskill.Rating(mu=25.000, sigma=8.333),
 '1975-06-08Mark Ricciuto': trueskill.Rating(mu=25.000, sigma=8.333),
 '1983-05-28Ben Rutten': trueskill.Rating(mu=25.000, sigma=8.333),
 '1980-06-09Robert Shirley': trueskill.Rating(mu=25.000, sigma=8.333),
 '1983-03-14Scott Thompson': trueskill.Rating(mu=25.000, sigma=8.333),
 '1986-06-06Nathan van Berlo': trueskill.Rating(mu=25.000, sigma=8.333),
 '1985-10-02Bernie Vince': trueskill.Rating(mu=25.000, sigma=8.333),
 '1979-08-05Michael Doughty': trueskill.Rating(mu=25.000, sigma=8.333),
 '1982-01-15Scott Stevens': trueskill.Rating(mu=25.000, sigma=8.333),
 '1980-05-30Kris Massie': trueskill.Rating(mu=25.000, sigma=8.333),
 '1983-02-25Hayden Skipworth': trueskill.Rating(mu=25.000, sigma=8.333),
 '1984-11-27Jason Porplyzia': trueskill.Rating(mu=25.000, sigma=8.333),
 '1986-01-04Ivan Maric': trueskill.Rating(mu=25.000, sigma=8.333),
 '1977-06-16Jason Torney': trueskill.Rating(mu=25.000, sigma=8.333),
 '1983-03-20Nathan Bock': trueskill.Rating(mu=25.000, sigma=8.333),
 '1978-12-07Scott Welsh': trueskill.Rating(mu=25.000, sigma=8.333),
 '1987-02-06Richard Douglas': trueskill.Rating(mu=25.000, sigma=8.333),
 '1986-01-14Jonathon Griffin': trueskill.Rating(mu=25.000, sigma=8.333),
 '1979-02-24Ben Hudson': trueskill.Rating(mu=25.000, sigma=8.333),
 '1986-06-06John Hinge': trueskill.Rating(mu=25.000, sigma=8.333),
 '1984-10-18Luke Jericho': trueskill.Rating(mu=25.000, sigma=8.333),
 '1984-09-07Bryce Campbell': trueskill.Rating(mu=25.000, sigma=8.333),
 '1982-08-25Nick Gill': trueskill.Rating(mu=25.000, sigma=8.333),
 '1986-06-20John Meesen': trueskill.Rating(mu=25.000, sigma=8.333),
 '1988-07-25David Mackay': trueskill.Rating(mu=25.000, sigma=8.333),
 '1985-03-07Brad Symes': trueskill.Rating(mu=25.000, sigma=8.333),
 '1987-05-08Kurt Tippett': trueskill.Rating(mu=25.000, sigma=8.333),
 '1989-04-05Jarrhan Jacky': trueskill.Rating(mu=25.000, sigma=8.333),
 '1989-03-24James Sellar': trueskill.Rating(mu=25.000, sigma=8.333),
 '1989-05-15Andy Otten': trueskill.Rating(mu=25.000, sigma=8.333),
 '1986-09-29Brad Moran': trueskill.Rating(mu=25.000, sigma=8.333),
 '1990-04-05Patrick Dangerfield': trueskill.Rating(mu=25.000, sigma=8.333),
 '1989-10-09Myke Cook': trueskill.Rating(mu=25.000, sigma=8.333),
 '1989-12-22Jared Petrenko': trueskill.Rating(mu=25.000, sigma=8.333),
 '1990-04-25Taylor Walker': trueskill.Rating(mu=25.000, sigma=8.333),
 '1990-09-01Shaun McKernan': trueskill.Rating(mu=25.000, sigma=8.333),
 '1988-11-06Brodie Martin': trueskill.Rating(mu=25.000, sigma=8.333),
 '1990-03-17Rory Sloane': trueskill.Rating(mu=25.000, sigma=8.333),
 '1989-09-29Tony Armstrong': trueskill.Rating(mu=25.000, sigma=8.333),
 '1990-08-03Will Young': trueskill.Rating(mu=25.000, sigma=8.333),
 '1989-03-20Chris Schmidt': trueskill.Rating(mu=25.000, sigma=8.333),
 '1990-08-30Phil Davis': trueskill.Rating(mu=25.000, sigma=8.333),
 '1988-09-11Ricky Henderson': trueskill.Rating(mu=25.000, sigma=8.333),
 '1989-09-18Matthew Jaensch': trueskill.Rating(mu=25.000, sigma=8.333),
 '1991-10-16Jack Gunston': trueskill.Rating(mu=25.000, sigma=8.333),
 '1992-01-14Brodie Smith': trueskill.Rating(mu=25.000, sigma=8.333),
 '1986-09-12Richard Tambling': trueskill.Rating(mu=25.000, sigma=8.333),
 '1991-02-08Luke Thompson': trueskill.Rating(mu=25.000, sigma=8.333),
 '1989-12-14Matthew Wright': trueskill.Rating(mu=25.000, sigma=8.333),
 '1988-04-10Sam Jacobs': trueskill.Rating(mu=25.000, sigma=8.333),
 '1982-12-20Ian Callinan': trueskill.Rating(mu=25.000, sigma=8.333),
 '1991-10-02Daniel Talia': trueskill.Rating(mu=25.000, sigma=8.333),
 '1991-12-13Aidan Riley': trueskill.Rating(mu=25.000, sigma=8.333),
 '1990-09-15Tom Lynch': trueskill.Rating(mu=25.000, sigma=8.333),
 '1993-04-26Sam Kerridge': trueskill.Rating(mu=25.000, sigma=8.333),
 '1991-04-05Sam Shaw': trueskill.Rating(mu=25.000, sigma=8.333),
 '1992-07-22Jarryd Lyons': trueskill.Rating(mu=25.000, sigma=8.333),
 '1989-02-08Josh Jenkins': trueskill.Rating(mu=25.000, sigma=8.333),
 '1989-04-09Tim McIntyre': trueskill.Rating(mu=25.000, sigma=8.333),
 '1992-09-22Luke Brown': trueskill.Rating(mu=25.000, sigma=8.333),
 '1991-03-03Lewis Johnston': trueskill.Rating(mu=25.000, sigma=8.333),
 '1994-01-14Brad Crouch': trueskill.Rating(mu=25.000, sigma=8.333),
 '1993-12-29Rory Laird': trueskill.Rating(mu=25.000, sigma=8.333),
 '1993-01-02Mitch Grigg': trueskill.Rating(mu=25.000, sigma=8.333),
 '1991-11-07Kyle Hartigan': trueskill.Rating(mu=25.000, sigma=8.333),
 '1986-11-26Eddie Betts': trueskill.Rating(mu=25.000, sigma=8.333),
 '1981-09-10James Podsiadly': trueskill.Rating(mu=25.000, sigma=8.333),
 '1995-04-21Matt Crouch': trueskill.Rating(mu=25.000, sigma=8.333),
 '1994-07-05Charlie Cameron': trueskill.Rating(mu=25.000, sigma=8.333),
 '1993-01-28Cam Ellis-Yolmen': trueskill.Rating(mu=25.000, sigma=8.333),
 '1989-08-25Kyle Cheney': trueskill.Rating(mu=25.000, sigma=8.333),
 '1995-01-21Jake Kelly': trueskill.Rating(mu=25.000, sigma=8.333),
 '1996-03-05Jake Lever': trueskill.Rating(mu=25.000, sigma=8.333),
 '1995-03-27Riley Knight': trueskill.Rating(mu=25.000, sigma=8.333),
 '1994-07-12Rory Atkins': trueskill.Rating(mu=25.000, sigma=8.333),
 '1994-10-11Mitch McGovern': trueskill.Rating(mu=25.000, sigma=8.333),
 '1997-09-14Wayne Milera': trueskill.Rating(mu=25.000, sigma=8.333),
 '1992-01-21Paul Seedsman': trueskill.Rating(mu=25.000, sigma=8.333),
 '1995-08-20Reilly OBrien': trueskill.Rating(mu=25.000, sigma=8.333),
 '1985-06-13Adam Bentick': trueskill.Rating(mu=25.000, sigma=8.333),
 '1983-12-15Andrew Carrazzo': trueskill.Rating(mu=25.000, sigma=8.333),
 '1982-05-15Adrian De Luca': trueskill.Rating(mu=25.000, sigma=8.333),
 '1981-01-20Brendan Fevola': trueskill.Rating(mu=25.000, sigma=8.333),
 '1984-04-09Brad Fisher': trueskill.Rating(mu=25.000, sigma=8.333),
 '1975-11-25Barnaby French': trueskill.Rating(mu=25.000, sigma=8.333),
 '1982-01-21Ryan Houlihan': trueskill.Rating(mu=25.000, sigma=8.333),
 '1973-01-18Anthony Koutoufides': trueskill.Rating(mu=25.000, sigma=8.333),
 '1976-02-17Matthew Lappin': trueskill.Rating(mu=25.000, sigma=8.333),
 '1982-11-04Luke Livingston': trueskill.Rating(mu=25.000, sigma=8.333),
 '1979-02-04Cory McGrath': trueskill.Rating(mu=25.000, sigma=8.333),
 '1982-05-08Dylan McLaren': trueskill.Rating(mu=25.000, sigma=8.333),
 '1987-07-19Marc Murphy': trueskill.Rating(mu=25.000, sigma=8.333),
 '1980-07-21Heath Scotland': trueskill.Rating(mu=25.000, sigma=8.333),
 '1984-05-05Kade Simpson': trueskill.Rating(mu=25.000, sigma=8.333),
 '1982-09-23Trent Sporn': trueskill.Rating(mu=25.000, sigma=8.333),
 '1980-01-03Nick Stevens': trueskill.Rating(mu=25.000, sigma=8.333),
 '1983-11-15Bret Thornton': trueskill.Rating(mu=25.000, sigma=8.333),
 '1983-02-04Jarrad Waite': trueskill.Rating(mu=25.000, sigma=8.333),
 '1986-05-18Andrew Walker': trueskill.Rating(mu=25.000, sigma=8.333),
 '1979-08-23Lance Whitnall': trueskill.Rating(mu=25.000, sigma=8.333),
 '1979-11-19Callum Chambers': trueskill.Rating(mu=25.000, sigma=8.333),
 '1979-10-23Jason Saddington': trueskill.Rating(mu=25.000, sigma=8.333),
 '1981-05-05David Teague': trueskill.Rating(mu=25.000, sigma=8.333),
 '1983-03-18Setanta OhAilpin': trueskill.Rating(mu=25.000, sigma=8.333),
 '1986-11-06Jordan Russell': trueskill.Rating(mu=25.000, sigma=8.333),
 '1982-10-31Jordan Bannister': trueskill.Rating(mu=25.000, sigma=8.333),
 '1987-08-25Josh Kennedy': trueskill.Rating(mu=25.000, sigma=8.333),
 '1982-09-11Simon Wiggins': trueskill.Rating(mu=25.000, sigma=8.333),
 '1986-11-09Luke Blackwell': trueskill.Rating(mu=25.000, sigma=8.333),
 '1980-09-02Ian Prendergast': trueskill.Rating(mu=25.000, sigma=8.333),
 '1979-05-25Troy Longmuir': trueskill.Rating(mu=25.000, sigma=8.333),
 '1982-03-06Chris Bryan': trueskill.Rating(mu=25.000, sigma=8.333),
 '1986-02-20Jesse Smith': trueskill.Rating(mu=25.000, sigma=8.333),
 '1988-01-09Paul Bower': trueskill.Rating(mu=25.000, sigma=8.333),
 '1987-04-04Ryan Jackson': trueskill.Rating(mu=25.000, sigma=8.333),
 '1982-03-16Cain Ackland': trueskill.Rating(mu=25.000, sigma=8.333),
 '1984-12-20Cameron Cloke': trueskill.Rating(mu=25.000, sigma=8.333),
 '1989-03-15Bryce Gibbs': trueskill.Rating(mu=25.000, sigma=8.333),
 '1988-12-24Joe Anderson': trueskill.Rating(mu=25.000, sigma=8.333),
 '1983-09-09Ross Young': trueskill.Rating(mu=25.000, sigma=8.333),
 '1986-04-22Adam Hartlett': trueskill.Rating(mu=25.000, sigma=8.333),
 '1988-04-19Shaun Grigg': trueskill.Rating(mu=25.000, sigma=8.333),
 '1986-06-11Michael Jamison': trueskill.Rating(mu=25.000, sigma=8.333),
 '1988-03-21Shaun Hampson': trueskill.Rating(mu=25.000, sigma=8.333),
 '1989-02-24Mark Austin': trueskill.Rating(mu=25.000, sigma=8.333),
 '1988-01-06Jake Edwards': trueskill.Rating(mu=25.000, sigma=8.333),
 '1983-03-29Richard Hadley': trueskill.Rating(mu=25.000, sigma=8.333),
 '1983-09-08Chris Judd': trueskill.Rating(mu=25.000, sigma=8.333),
 '1987-09-28Darren Pfeiffer': trueskill.Rating(mu=25.000, sigma=8.333),
 '1989-05-13Matthew Kreuzer': trueskill.Rating(mu=25.000, sigma=8.333),
 '1989-02-01Steven Browne': trueskill.Rating(mu=25.000, sigma=8.333),
 '1989-03-13David Ellard': trueskill.Rating(mu=25.000, sigma=8.333),
 '1986-12-22Dennis Armfield': trueskill.Rating(mu=25.000, sigma=8.333),
 '1989-08-03Jeff Garlett': trueskill.Rating(mu=25.000, sigma=8.333),
 '1986-01-25Chris Johnson': trueskill.Rating(mu=25.000, sigma=8.333),
 '1989-07-04Aaron Joseph': trueskill.Rating(mu=25.000, sigma=8.333),
 '1989-06-07Mitch Robinson': trueskill.Rating(mu=25.000, sigma=8.333),
 '1987-04-09Greg Bentley': trueskill.Rating(mu=25.000, sigma=8.333),
 '1990-12-19Chris Yarran': trueskill.Rating(mu=25.000, sigma=8.333),
 '1989-12-14Lachie Henderson': trueskill.Rating(mu=25.000, sigma=8.333),
 '1986-03-11Brock McLean': trueskill.Rating(mu=25.000, sigma=8.333),
 '1987-01-19Robert Warnock': trueskill.Rating(mu=25.000, sigma=8.333),
 '1991-06-26Kane Lucas': trueskill.Rating(mu=25.000, sigma=8.333),
 '1988-06-17Simon White': trueskill.Rating(mu=25.000, sigma=8.333),
 '1991-04-06Marcus Davies': trueskill.Rating(mu=25.000, sigma=8.333),
 '1989-11-07Ed Curnow': trueskill.Rating(mu=25.000, sigma=8.333),
 '1984-09-07Nick Duigan': trueskill.Rating(mu=25.000, sigma=8.333),
 '1989-08-05Jeremy Laidler': trueskill.Rating(mu=25.000, sigma=8.333),
 '1992-07-16Matthew Watson': trueskill.Rating(mu=25.000, sigma=8.333),
 '1988-11-17Andrew Collins': trueskill.Rating(mu=25.000, sigma=8.333),
 '1989-12-10Zach Tuohy': trueskill.Rating(mu=25.000, sigma=8.333),
 '1990-08-08Rhys OKeeffe': trueskill.Rating(mu=25.000, sigma=8.333),
 '1986-01-21Wayde Twomey': trueskill.Rating(mu=25.000, sigma=8.333),
 '1993-02-22Josh Bootsma': trueskill.Rating(mu=25.000, sigma=8.333),
 '1992-03-20Andrew McInnes': trueskill.Rating(mu=25.000, sigma=8.333),
 '1991-06-13Tom Bell': trueskill.Rating(mu=25.000, sigma=8.333),
 '1990-03-15Levi Casboult': trueskill.Rating(mu=25.000, sigma=8.333),
 '1993-11-10Frazer Dale': trueskill.Rating(mu=25.000, sigma=8.333),
 '1992-03-11Pat McCarthy': trueskill.Rating(mu=25.000, sigma=8.333),
 '1992-02-28Luke Mitchell': trueskill.Rating(mu=25.000, sigma=8.333),
 '1987-11-19Sam Rowe': trueskill.Rating(mu=25.000, sigma=8.333),
 '1993-03-16Dylan Buckley': trueskill.Rating(mu=25.000, sigma=8.333),
 '1991-05-08Jaryd Cachia': trueskill.Rating(mu=25.000, sigma=8.333),
 '1994-09-22Troy Menzel': trueskill.Rating(mu=25.000, sigma=8.333),
 '1994-06-12Nick Graham': trueskill.Rating(mu=25.000, sigma=8.333),
 '1989-03-13Andrejs Everitt': trueskill.Rating(mu=25.000, sigma=8.333),
 '1987-06-21Dale Thomas': trueskill.Rating(mu=25.000, sigma=8.333),
 '1995-03-18Patrick Cripps': trueskill.Rating(mu=25.000, sigma=8.333),
 '1993-10-17Sam Docherty': trueskill.Rating(mu=25.000, sigma=8.333),
 '1995-07-28Blaine Johnson': trueskill.Rating(mu=25.000, sigma=8.333),
 '1987-03-04Cameron Wood': trueskill.Rating(mu=25.000, sigma=8.333),
 '1990-11-19Ciaran Sheehan': trueskill.Rating(mu=25.000, sigma=8.333),
 '1995-05-29Nick Holman': trueskill.Rating(mu=25.000, sigma=8.333),
 '1994-10-07Kristian Jaksch': trueskill.Rating(mu=25.000, sigma=8.333),
 '1991-02-24Liam Jones': trueskill.Rating(mu=25.000, sigma=8.333),
 '1996-02-03Clem Smith': trueskill.Rating(mu=25.000, sigma=8.333),
 '1991-05-15Jason Tutt': trueskill.Rating(mu=25.000, sigma=8.333),
 '1994-12-06Ciaran Byrne': trueskill.Rating(mu=25.000, sigma=8.333),
 '1993-09-02Blaine Boekhorst': trueskill.Rating(mu=25.000, sigma=8.333),
 '1994-11-03Matthew Dick': trueskill.Rating(mu=25.000, sigma=8.333),
 '1992-12-01Mark Whiley': trueskill.Rating(mu=25.000, sigma=8.333),
 '1992-12-19Tom Fields': trueskill.Rating(mu=25.000, sigma=8.333),
 '1996-09-03Brad Walsh': trueskill.Rating(mu=25.000, sigma=8.333),
 '1992-10-19Jed Lamb': trueskill.Rating(mu=25.000, sigma=8.333),
 '1991-07-03Andrew Phillips': trueskill.Rating(mu=25.000, sigma=8.333),
 '1997-11-23Jacob Weitering': trueskill.Rating(mu=25.000, sigma=8.333),
 '1997-02-03Charlie Curnow': trueskill.Rating(mu=25.000, sigma=8.333),
 '1994-09-11Lachie Plowman': trueskill.Rating(mu=25.000, sigma=8.333),
 '1993-08-16Liam Sumner': trueskill.Rating(mu=25.000, sigma=8.333),
 '1992-06-02Daniel Gorringe': trueskill.Rating(mu=25.000, sigma=8.333),
 '1997-12-17Jack Silvagni': trueskill.Rating(mu=25.000, sigma=8.333),
 '1997-03-30David Cuningham': trueskill.Rating(mu=25.000, sigma=8.333),
 '1972-07-26Nathan Buckley': trueskill.Rating(mu=25.000, sigma=8.333),
 '1976-09-04James Clement': trueskill.Rating(mu=25.000, sigma=8.333),
 '1982-03-05Jason Cloke': trueskill.Rating(mu=25.000, sigma=8.333),
 '1987-03-05Travis Cloke': trueskill.Rating(mu=25.000, sigma=8.333),
 '1981-06-17Leon Davis': trueskill.Rating(mu=25.000, sigma=8.333),
 '1983-02-15Alan Didak': trueskill.Rating(mu=25.000, sigma=8.333),
 '1986-10-26Chris Egan': trueskill.Rating(mu=25.000, sigma=8.333),
 '1982-01-05Josh Fraser': trueskill.Rating(mu=25.000, sigma=8.333),
 '1980-01-03Brodie Holland': trueskill.Rating(mu=25.000, sigma=8.333),
 '1981-04-05Ben Johnson': trueskill.Rating(mu=25.000, sigma=8.333),
 '1978-01-04Paul Licuria': trueskill.Rating(mu=25.000, sigma=8.333),
 '1979-10-30Tarkyn Lockyer': trueskill.Rating(mu=25.000, sigma=8.333),
 '1983-03-04Ryan Lonie': trueskill.Rating(mu=25.000, sigma=8.333),
 '1983-06-03Nick Maxwell': trueskill.Rating(mu=25.000, sigma=8.333),
 '1979-03-15Shane OBree': trueskill.Rating(mu=25.000, sigma=8.333),
 '1978-01-31Simon Prestigiacomo': trueskill.Rating(mu=25.000, sigma=8.333),
 '1983-03-21Guy Richards': trueskill.Rating(mu=25.000, sigma=8.333),
 '1977-08-15Anthony Rocca': trueskill.Rating(mu=25.000, sigma=8.333),
 '1984-02-25Dane Swan': trueskill.Rating(mu=25.000, sigma=8.333),
 '1980-09-18Chris Tarrant': trueskill.Rating(mu=25.000, sigma=8.333),
 '1974-08-12Shane Wakelin': trueskill.Rating(mu=25.000, sigma=8.333),
 '1977-03-15Blake Caracella': trueskill.Rating(mu=25.000, sigma=8.333),
 '1986-11-15Heritier Lumumba': trueskill.Rating(mu=25.000, sigma=8.333),
 '1985-11-27Heath Shaw': trueskill.Rating(mu=25.000, sigma=8.333),
 '1974-12-23Scott Burns': trueskill.Rating(mu=25.000, sigma=8.333),
 '1986-02-10Ben Davies': trueskill.Rating(mu=25.000, sigma=8.333),
 '1981-10-16Rhyce Shaw': trueskill.Rating(mu=25.000, sigma=8.333),
 '1978-03-29Chad Morrison': trueskill.Rating(mu=25.000, sigma=8.333),
 '1988-01-07Scott Pendlebury': trueskill.Rating(mu=25.000, sigma=8.333),
 '1986-01-17Adam Iacobucci': trueskill.Rating(mu=25.000, sigma=8.333),
 '1985-05-25Julian Rowe': trueskill.Rating(mu=25.000, sigma=8.333),
 '1986-10-06Sean Rusling': trueskill.Rating(mu=25.000, sigma=8.333),
 '1984-07-20David Fanning': trueskill.Rating(mu=25.000, sigma=8.333),
 '1987-06-19Sam Iles': trueskill.Rating(mu=25.000, sigma=8.333),
 '1981-12-11Paul Medhurst': trueskill.Rating(mu=25.000, sigma=8.333),
 '1987-03-02Daniel Nicholls': trueskill.Rating(mu=25.000, sigma=8.333),
 '1986-03-07Shannon Cox': trueskill.Rating(mu=25.000, sigma=8.333),
 '1988-07-25Brad Dick': trueskill.Rating(mu=25.000, sigma=8.333),
 '1987-03-23Alan Toovey': trueskill.Rating(mu=25.000, sigma=8.333),
 '1987-05-22Tyson Goldsack': trueskill.Rating(mu=25.000, sigma=8.333),
 '1988-02-18Danny Stanley': trueskill.Rating(mu=25.000, sigma=8.333),
 '1987-11-13Martin Clarke': trueskill.Rating(mu=25.000, sigma=8.333),
 '1989-04-29Ben Reid': trueskill.Rating(mu=25.000, sigma=8.333),
 '1988-02-16Ryan Cook': trueskill.Rating(mu=25.000, sigma=8.333),
 '1988-12-17Nathan Brown': trueskill.Rating(mu=25.000, sigma=8.333),
 '1988-01-19John Anthony': trueskill.Rating(mu=25.000, sigma=8.333),
 '1988-07-07Sharrod Wellingham': trueskill.Rating(mu=25.000, sigma=8.333),
 '1988-05-16Chris Dawes': trueskill.Rating(mu=25.000, sigma=8.333),
 '1989-11-19John McCarthy': trueskill.Rating(mu=25.000, sigma=8.333),
 '1990-02-12Dayne Beams': trueskill.Rating(mu=25.000, sigma=8.333),
 '1982-02-23Leigh Brown': trueskill.Rating(mu=25.000, sigma=8.333),
 '1988-05-20Jaxson Barham': trueskill.Rating(mu=25.000, sigma=8.333),
 '1988-02-29Brent Macaffer': trueskill.Rating(mu=25.000, sigma=8.333),
 '1984-06-22Anthony Corrie': trueskill.Rating(mu=25.000, sigma=8.333),
 '1991-01-02Steele Sidebottom': trueskill.Rating(mu=25.000, sigma=8.333),
 '1984-05-25Luke Ball': trueskill.Rating(mu=25.000, sigma=8.333),
 '1981-11-06Darren Jolly': trueskill.Rating(mu=25.000, sigma=8.333),
 '1990-04-14Jarryd Blair': trueskill.Rating(mu=25.000, sigma=8.333),
 '1987-04-18Simon Buckley': trueskill.Rating(mu=25.000, sigma=8.333),
 '1983-02-04Andrew Krakouer': trueskill.Rating(mu=25.000, sigma=8.333),
 '1992-06-08Alex Fasolo': trueskill.Rating(mu=25.000, sigma=8.333),
 '1991-02-10Luke Rounds': trueskill.Rating(mu=25.000, sigma=8.333),
 '1990-04-14Lachlan Keeffe': trueskill.Rating(mu=25.000, sigma=8.333),
 '1991-10-01Ben Sinclair': trueskill.Rating(mu=25.000, sigma=8.333),
 '1992-04-26Tom Young': trueskill.Rating(mu=25.000, sigma=8.333),
 '1993-06-21Jackson Paine': trueskill.Rating(mu=25.000, sigma=8.333),
 '1993-10-20Peter Yagmoor': trueskill.Rating(mu=25.000, sigma=8.333),
 '1992-05-06Kirk Ugle': trueskill.Rating(mu=25.000, sigma=8.333),
 '1992-08-21Jamie Elliott': trueskill.Rating(mu=25.000, sigma=8.333),
 '1993-07-22Marley Williams': trueskill.Rating(mu=25.000, sigma=8.333),
 '1993-01-25Caolan Mooney': trueskill.Rating(mu=25.000, sigma=8.333),
 '1986-08-29Sam Dwyer': trueskill.Rating(mu=25.000, sigma=8.333),
 '1992-02-25Jack Frost': trueskill.Rating(mu=25.000, sigma=8.333),
 '1983-01-24Quinten Lynch': trueskill.Rating(mu=25.000, sigma=8.333),
 '1991-10-01Josh Thomas': trueskill.Rating(mu=25.000, sigma=8.333),
 '1994-03-03Ben Kennedy': trueskill.Rating(mu=25.000, sigma=8.333),
 '1992-09-13Jarrod Witts': trueskill.Rating(mu=25.000, sigma=8.333),
 '1990-09-17Kyle Martin': trueskill.Rating(mu=25.000, sigma=8.333),
 '1992-11-01Adam Oxley': trueskill.Rating(mu=25.000, sigma=8.333),
 '1986-02-16Clinton Young': trueskill.Rating(mu=25.000, sigma=8.333),
 '1994-04-15Brodie Grundy': trueskill.Rating(mu=25.000, sigma=8.333),

In [20]:
new_df.sort_values(['Date', 'Home team','Playing for'])
new_df.head()

,Season,Round,Date,Home team,Home score,Home coach,Away team,Away score,Away coach,First name,Surname,ID,DOB,Playing for,Time on Ground %,Player Name,PlayerUniqueID
0,2006,1,2006-04-03,Collingwood,77,Mick Malthouse,Adelaide,111,Neil Craig,Nathan,Bassett,56,1976-12-07,Adelaide,100,Nathan Bassett,1976-12-07Nathan Bassett
1,2006,1,2006-04-03,Collingwood,77,Mick Malthouse,Adelaide,111,Neil Craig,Rhett,Biglands,83,1977-09-04,Adelaide,61,Rhett Biglands,1977-09-04Rhett Biglands
2,2006,1,2006-04-03,Collingwood,77,Mick Malthouse,Adelaide,111,Neil Craig,Matthew,Bode,90,1979-06-29,Adelaide,78,Matthew Bode,1979-06-29Matthew Bode
3,2006,1,2006-04-03,Collingwood,77,Mick Malthouse,Adelaide,111,Neil Craig,Brett,Burton,68,1978-05-04,Adelaide,97,Brett Burton,1978-05-04Brett Burton
4,2006,1,2006-04-03,Collingwood,77,Mick Malthouse,Adelaide,111,Neil Craig,Matthew,Clarke,78,1973-09-18,Adelaide,64,Matthew Clarke,1973-09-18Matthew Clarke

In [21]:
new_df['Played at home'] = (new_df['Playing for']== new_df['Home team'])
new_df['Home win'] = (new_df['Home score']> new_df['Away score'])
new_df['Is draw'] = (new_df['Home score']== new_df['Away score'])
new_df.head()

,Season,Round,Date,Home team,Home score,Home coach,Away team,Away score,Away coach,First name,Surname,ID,DOB,Playing for,Time on Ground %,Player Name,PlayerUniqueID,Played at home,Home win,Is draw
0,2006,1,2006-04-03,Collingwood,77,Mick Malthouse,Adelaide,111,Neil Craig,Nathan,Bassett,56,1976-12-07,Adelaide,100,Nathan Bassett,1976-12-07Nathan Bassett,False,False,False
1,2006,1,2006-04-03,Collingwood,77,Mick Malthouse,Adelaide,111,Neil Craig,Rhett,Biglands,83,1977-09-04,Adelaide,61,Rhett Biglands,1977-09-04Rhett Biglands,False,False,False
2,2006,1,2006-04-03,Collingwood,77,Mick Malthouse,Adelaide,111,Neil Craig,Matthew,Bode,90,1979-06-29,Adelaide,78,Matthew Bode,1979-06-29Matthew Bode,False,False,False
3,2006,1,2006-04-03,Collingwood,77,Mick Malthouse,Adelaide,111,Neil Craig,Brett,Burton,68,1978-05-04,Adelaide,97,Brett Burton,1978-05-04Brett Burton,False,False,False
4,2006,1,2006-04-03,Collingwood,77,Mick Malthouse,Adelaide,111,Neil Craig,Matthew,Clarke,78,1973-09-18,Adelaide,64,Matthew Clarke,1973-09-18Matthew Clarke,False,False,False

In [22]:

new_df['Player win'] = new_df['Played at home'] == new_df['Home win']

In [23]:
new_df.drop(['First name','Surname','ID','Home coach','Away coach','Player Name'],axis = 1, inplace = True)
new_df.head()

,Season,Round,Date,Home team,Home score,Away team,Away score,DOB,Playing for,Time on Ground %,PlayerUniqueID,Played at home,Home win,Is draw,Player win
0,2006,1,2006-04-03,Collingwood,77,Adelaide,111,1976-12-07,Adelaide,100,1976-12-07Nathan Bassett,False,False,False,True
1,2006,1,2006-04-03,Collingwood,77,Adelaide,111,1977-09-04,Adelaide,61,1977-09-04Rhett Biglands,False,False,False,True
2,2006,1,2006-04-03,Collingwood,77,Adelaide,111,1979-06-29,Adelaide,78,1979-06-29Matthew Bode,False,False,False,True
3,2006,1,2006-04-03,Collingwood,77,Adelaide,111,1978-05-04,Adelaide,97,1978-05-04Brett Burton,False,False,False,True
4,2006,1,2006-04-03,Collingwood,77,Adelaide,111,1973-09-18,Adelaide,64,1973-09-18Matthew Clarke,False,False,False,True

In [24]:
new_df['Game Code'] = new_df['Date']+ new_df['Home team']+ new_df['Away team']

In [26]:
len(new_df['Game Code'].unique())

2148

In [27]:
new_df['Round'].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', 'QF',
       'PF', 'EF', 'SF', '23', '24', 'GF', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
       11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 13], dtype=object)

In [28]:
new_df['Home win'] = (new_df['Home score']>new_df['Away score'])
new_df.head()

,Season,Round,Date,Home team,Home score,Away team,Away score,DOB,Playing for,Time on Ground %,PlayerUniqueID,Played at home,Home win,Is draw,Player win,Game Code
0,2006,1,2006-04-03,Collingwood,77,Adelaide,111,1976-12-07,Adelaide,100,1976-12-07Nathan Bassett,False,False,False,True,2006-04-03CollingwoodAdelaide
1,2006,1,2006-04-03,Collingwood,77,Adelaide,111,1977-09-04,Adelaide,61,1977-09-04Rhett Biglands,False,False,False,True,2006-04-03CollingwoodAdelaide
2,2006,1,2006-04-03,Collingwood,77,Adelaide,111,1979-06-29,Adelaide,78,1979-06-29Matthew Bode,False,False,False,True,2006-04-03CollingwoodAdelaide
3,2006,1,2006-04-03,Collingwood,77,Adelaide,111,1978-05-04,Adelaide,97,1978-05-04Brett Burton,False,False,False,True,2006-04-03CollingwoodAdelaide
4,2006,1,2006-04-03,Collingwood,77,Adelaide,111,1973-09-18,Adelaide,64,1973-09-18Matthew Clarke,False,False,False,True,2006-04-03CollingwoodAdelaide

In [29]:
def whowon(winteam_input):
    HomeTeam = winteam_input[0]
    AwayTeam = winteam_input[1]
    HomeWin = winteam_input[2]
    if HomeWin:
        Winteam = HomeTeam
    else:
        Winteam = AwayTeam
    return Winteam

def wholost(lossteam_input):
    HomeTeam = lossteam_input[0]
    AwayTeam = lossteam_input[1]
    HomeWin = lossteam_input[2]
    if HomeWin:
        Lossteam = AwayTeam
    else:
        Lossteam = HomeTeam
    return Lossteam

        
new_df['WinTeam']=new_df[['Home team','Away team', 'Home win']].apply(whowon,axis=1)
new_df['LossTeam']=new_df[['Home team','Away team', 'Home win']].apply(wholost,axis=1)
new_df.head()

,Season,Round,Date,Home team,Home score,Away team,Away score,DOB,Playing for,Time on Ground %,PlayerUniqueID,Played at home,Home win,Is draw,Player win,Game Code,WinTeam,LossTeam
0,2006,1,2006-04-03,Collingwood,77,Adelaide,111,1976-12-07,Adelaide,100,1976-12-07Nathan Bassett,False,False,False,True,2006-04-03CollingwoodAdelaide,Adelaide,Collingwood
1,2006,1,2006-04-03,Collingwood,77,Adelaide,111,1977-09-04,Adelaide,61,1977-09-04Rhett Biglands,False,False,False,True,2006-04-03CollingwoodAdelaide,Adelaide,Collingwood
2,2006,1,2006-04-03,Collingwood,77,Adelaide,111,1979-06-29,Adelaide,78,1979-06-29Matthew Bode,False,False,False,True,2006-04-03CollingwoodAdelaide,Adelaide,Collingwood
3,2006,1,2006-04-03,Collingwood,77,Adelaide,111,1978-05-04,Adelaide,97,1978-05-04Brett Burton,False,False,False,True,2006-04-03CollingwoodAdelaide,Adelaide,Collingwood
4,2006,1,2006-04-03,Collingwood,77,Adelaide,111,1973-09-18,Adelaide,64,1973-09-18Matthew Clarke,False,False,False,True,2006-04-03CollingwoodAdelaide,Adelaide,Collingwood

In [30]:
new_df.to_csv('new_df_v1.csv')

In [32]:
new_df = pd.read_csv('new_df_v1.csv')
new_df.sort_values(['Game Code', 'Home team','Playing for'])
new_df.head()

,Unnamed: 0,Season,Round,Date,Home team,Home score,Away team,Away score,DOB,Playing for,Time on Ground %,PlayerUniqueID,Played at home,Home win,Is draw,Player win,Game Code,WinTeam,LossTeam
0,0,2006,1,2006-04-03,Collingwood,77,Adelaide,111,1976-12-07,Adelaide,100,1976-12-07Nathan Bassett,False,False,False,True,2006-04-03CollingwoodAdelaide,Adelaide,Collingwood
1,1,2006,1,2006-04-03,Collingwood,77,Adelaide,111,1977-09-04,Adelaide,61,1977-09-04Rhett Biglands,False,False,False,True,2006-04-03CollingwoodAdelaide,Adelaide,Collingwood
2,2,2006,1,2006-04-03,Collingwood,77,Adelaide,111,1979-06-29,Adelaide,78,1979-06-29Matthew Bode,False,False,False,True,2006-04-03CollingwoodAdelaide,Adelaide,Collingwood
3,3,2006,1,2006-04-03,Collingwood,77,Adelaide,111,1978-05-04,Adelaide,97,1978-05-04Brett Burton,False,False,False,True,2006-04-03CollingwoodAdelaide,Adelaide,Collingwood
4,4,2006,1,2006-04-03,Collingwood,77,Adelaide,111,1973-09-18,Adelaide,64,1973-09-18Matthew Clarke,False,False,False,True,2006-04-03CollingwoodAdelaide,Adelaide,Collingwood

In [33]:
data_wrangled = pd.DataFrame(columns=['Game Code','Winteam Players', 'Lossteam Players','GameDraw','Winteam Players %time','Lossteam Players %time'])
data_wrangled.head()

Empty DataFrame
Columns: [Game Code, Winteam Players, Lossteam Players, GameDraw, Winteam Players %time, Lossteam Players %time]
Index: []

In [34]:
data_wrangled['Game Code'] = new_df['Game Code'].unique()

In [35]:
data_wrangled.head()

,Game Code,Winteam Players,Lossteam Players,GameDraw,Winteam Players %time,Lossteam Players %time
0,2006-04-03CollingwoodAdelaide,NaN,NaN,NaN,NaN,NaN
1,2006-04-09AdelaideWest Coast,NaN,NaN,NaN,NaN,NaN
2,2006-04-16MelbourneAdelaide,NaN,NaN,NaN,NaN,NaN
3,2006-04-22FremantleAdelaide,NaN,NaN,NaN,NaN,NaN
4,2006-04-29AdelaideWestern Bulldogs,NaN,NaN,NaN,NaN,NaN

In [38]:
def packdata(gamecode):

    played = new_df.loc[new_df['Game Code']==gamecode]
    home = played.loc[played['Played at home']==True]
    away = played.loc[played['Played at home']==False]
    homewin = played['Home win'].unique()[0]
    isdraw = played['Is draw'].unique()[0]
    if homewin:
        won = home
        lost = away
    else:
        won = away
        lost = home
    wonplayers = won['PlayerUniqueID']
    lostplayers = lost['PlayerUniqueID']
    wonplaytime = won['Time on Ground %']
    lostplaytime = lost['Time on Ground %']
    
    return [wonplayers,lostplayers,wonplaytime,lostplaytime,isdraw]

In [39]:
data_wrangled['Packed Data'] = data_wrangled['Game Code'].apply(packdata)
data_wrangled.head()

,Game Code,Winteam Players,Lossteam Players,GameDraw,Winteam Players %time,Lossteam Players %time,Packed Data
0,2006-04-03CollingwoodAdelaide,NaN,NaN,NaN,NaN,NaN,"[[1976-12-07Nathan Bassett, 1977-09-04Rhett Bi..."
1,2006-04-09AdelaideWest Coast,NaN,NaN,NaN,NaN,NaN,"[[1978-03-24Michael Braun, 1978-06-30Ben Cousi..."
2,2006-04-16MelbourneAdelaide,NaN,NaN,NaN,NaN,NaN,"[[1976-12-07Nathan Bassett, 1977-09-04Rhett Bi..."
3,2006-04-22FremantleAdelaide,NaN,NaN,NaN,NaN,NaN,"[[1976-12-07Nathan Bassett, 1977-09-04Rhett Bi..."
4,2006-04-29AdelaideWestern Bulldogs,NaN,NaN,NaN,NaN,NaN,"[[1976-12-07Nathan Bassett, 1977-09-04Rhett Bi..."

In [40]:
for i in range(0,len(data_wrangled.index)):

    data_wrangled['Winteam Players'][i] = data_wrangled.loc[i,['Packed Data'][0]][0]
    data_wrangled['Lossteam Players'][i] = data_wrangled.loc[i,['Packed Data'][0]][1]
    data_wrangled['Winteam Players %time'][i] = data_wrangled.loc[i,['Packed Data'][0]][2]
    data_wrangled['Lossteam Players %time'][i] = data_wrangled.loc[i,['Packed Data'][0]][3]
    data_wrangled['GameDraw'][i] = data_wrangled.loc[i,['Packed Data'][0]][4]

In [41]:
data_wrangled.head()

,Game Code,Winteam Players,Lossteam Players,GameDraw,Winteam Players %time,Lossteam Players %time,Packed Data
0,2006-04-03CollingwoodAdelaide,0 1976-12-07Nathan Bassett 1 1977-...,11000 1972-07-26Nathan Buckley 11001 ...,False,0 100 1 61 2 78 3 97 4 ...,11000 81 11001 59 11002 71 11003 ...,"[[1976-12-07Nathan Bassett, 1977-09-04Rhett Bi..."
1,2006-04-09AdelaideWest Coast,78166 1978-03-24Michael Braun 78167 ...,22 1976-12-07Nathan Bassett 23 1977-...,False,78166 91 78167 92 78168 79 78169 ...,22 100 23 69 24 96 25 90 26 ...,"[[1978-03-24Michael Braun, 1978-06-30Ben Cousi..."
2,2006-04-16MelbourneAdelaide,44 1976-12-07Nathan Bassett 45 1977-...,44990 1988-02-16Clint Bartram 44991 ...,False,44 100 45 49 46 90 47 90 48 ...,44990 81 44991 90 44992 100 44993 ...,"[[1976-12-07Nathan Bassett, 1977-09-04Rhett Bi..."
3,2006-04-22FremantleAdelaide,66 1976-12-07Nathan Bassett 67 1977-...,27808 1976-03-01Peter Bell 27809 ...,False,66 100 67 66 68 94 69 95 70 ...,27808 100 27809 69 27810 88 27811 ...,"[[1976-12-07Nathan Bassett, 1977-09-04Rhett Bi..."
4,2006-04-29AdelaideWestern Bulldogs,88 1976-12-07Nathan Bassett 89 197...,22242 1982-08-27Matthew Boyd 22243 ...,False,88 100 89 54 90 86 91 52 92...,22242 56 22243 100 22244 75 22245 ...,"[[1976-12-07Nathan Bassett, 1977-09-04Rhett Bi..."

In [42]:
for i in range(0,len(data_wrangled.index)):
    winplayers = data_wrangled.loc[i,'Winteam Players']
    winplayers = winplayers.reset_index()
    winplayers = winplayers['PlayerUniqueID']
    data_wrangled['Winteam Players'][i] = winplayers

    lossplayers = data_wrangled.loc[i,'Lossteam Players']
    lossplayers = lossplayers.reset_index()
    lossplayers = lossplayers['PlayerUniqueID']
    data_wrangled['Lossteam Players'][i] = lossplayers
    
    lossplaypercent = data_wrangled.loc[i,'Lossteam Players %time']
    lossplaypercent = lossplaypercent.reset_index()
    lossplaypercent = lossplaypercent['Time on Ground %']
    data_wrangled['Lossteam Players %time'][i] = lossplaypercent
    
    winplaypercent = data_wrangled.loc[i,'Winteam Players %time']
    winplaypercent = winplaypercent.reset_index()
    winplaypercent = winplaypercent['Time on Ground %']
    data_wrangled['Winteam Players %time'][i] = winplaypercent
    
    
data_wrangled.head()

,Game Code,Winteam Players,Lossteam Players,GameDraw,Winteam Players %time,Lossteam Players %time,Packed Data
0,2006-04-03CollingwoodAdelaide,0 1976-12-07Nathan Bassett 1 1977-...,0 1972-07-26Nathan Buckley 1 ...,False,0 100 1 61 2 78 3 97 4 ...,0 81 1 59 2 71 3 68 4 ...,"[[1976-12-07Nathan Bassett, 1977-09-04Rhett Bi..."
1,2006-04-09AdelaideWest Coast,0 1978-03-24Michael Braun 1 1978...,0 1976-12-07Nathan Bassett 1 1977-...,False,0 91 1 92 2 79 3 98 4 ...,0 100 1 69 2 96 3 90 4 ...,"[[1978-03-24Michael Braun, 1978-06-30Ben Cousi..."
2,2006-04-16MelbourneAdelaide,0 1976-12-07Nathan Bassett 1 1977-...,0 1988-02-16Clint Bartram 1 1...,False,0 100 1 49 2 90 3 90 4 ...,0 81 1 90 2 100 3 100 4 ...,"[[1976-12-07Nathan Bassett, 1977-09-04Rhett Bi..."
3,2006-04-22FremantleAdelaide,0 1976-12-07Nathan Bassett 1 1977-...,0 1976-03-01Peter Bell 1 19...,False,0 100 1 66 2 94 3 95 4 ...,0 100 1 69 2 88 3 70 4 ...,"[[1976-12-07Nathan Bassett, 1977-09-04Rhett Bi..."
4,2006-04-29AdelaideWestern Bulldogs,0 1976-12-07Nathan Bassett 1 1977-...,0 1982-08-27Matthew Boyd 1 ...,False,0 100 1 54 2 86 3 52 4 ...,0 56 1 100 2 75 3 76 4 ...,"[[1976-12-07Nathan Bassett, 1977-09-04Rhett Bi..."

In [43]:
for i in range(0,len(data_wrangled.index)):

    winteam_players = data_wrangled.loc[i,'Winteam Players']
    data_wrangled.loc[i,'Winteam Player Count'] = int(len(winteam_players))
    
    lossteam_players = data_wrangled.loc[i,'Lossteam Players']
    data_wrangled.loc[i,'Lossteam Player Count'] = int(len(lossteam_players))
    
data_wrangled.head()

,Game Code,Winteam Players,Lossteam Players,GameDraw,Winteam Players %time,Lossteam Players %time,Packed Data,Winteam Player Count,Lossteam Player Count
0,2006-04-03CollingwoodAdelaide,0 1976-12-07Nathan Bassett 1 1977-...,0 1972-07-26Nathan Buckley 1 ...,False,0 100 1 61 2 78 3 97 4 ...,0 81 1 59 2 71 3 68 4 ...,"[[1976-12-07Nathan Bassett, 1977-09-04Rhett Bi...",22.0,22.0
1,2006-04-09AdelaideWest Coast,0 1978-03-24Michael Braun 1 1978...,0 1976-12-07Nathan Bassett 1 1977-...,False,0 91 1 92 2 79 3 98 4 ...,0 100 1 69 2 96 3 90 4 ...,"[[1978-03-24Michael Braun, 1978-06-30Ben Cousi...",22.0,22.0
2,2006-04-16MelbourneAdelaide,0 1976-12-07Nathan Bassett 1 1977-...,0 1988-02-16Clint Bartram 1 1...,False,0 100 1 49 2 90 3 90 4 ...,0 81 1 90 2 100 3 100 4 ...,"[[1976-12-07Nathan Bassett, 1977-09-04Rhett Bi...",22.0,22.0
3,2006-04-22FremantleAdelaide,0 1976-12-07Nathan Bassett 1 1977-...,0 1976-03-01Peter Bell 1 19...,False,0 100 1 66 2 94 3 95 4 ...,0 100 1 69 2 88 3 70 4 ...,"[[1976-12-07Nathan Bassett, 1977-09-04Rhett Bi...",22.0,22.0
4,2006-04-29AdelaideWestern Bulldogs,0 1976-12-07Nathan Bassett 1 1977-...,0 1982-08-27Matthew Boyd 1 ...,False,0 100 1 54 2 86 3 52 4 ...,0 56 1 100 2 75 3 76 4 ...,"[[1976-12-07Nathan Bassett, 1977-09-04Rhett Bi...",22.0,22.0

In [44]:
data_wrangled = data_wrangled[data_wrangled['Winteam Player Count'] == 22.0]
data_wrangled = data_wrangled[data_wrangled['Lossteam Player Count'] == 22.0]
print(data_wrangled['Winteam Player Count'].unique())
print(data_wrangled['Lossteam Player Count'].unique())

[22.]
[22.]

In [45]:
data_wrangled.reset_index()
data_wrangled.head()

,Game Code,Winteam Players,Lossteam Players,GameDraw,Winteam Players %time,Lossteam Players %time,Packed Data,Winteam Player Count,Lossteam Player Count
0,2006-04-03CollingwoodAdelaide,0 1976-12-07Nathan Bassett 1 1977-...,0 1972-07-26Nathan Buckley 1 ...,False,0 100 1 61 2 78 3 97 4 ...,0 81 1 59 2 71 3 68 4 ...,"[[1976-12-07Nathan Bassett, 1977-09-04Rhett Bi...",22.0,22.0
1,2006-04-09AdelaideWest Coast,0 1978-03-24Michael Braun 1 1978...,0 1976-12-07Nathan Bassett 1 1977-...,False,0 91 1 92 2 79 3 98 4 ...,0 100 1 69 2 96 3 90 4 ...,"[[1978-03-24Michael Braun, 1978-06-30Ben Cousi...",22.0,22.0
2,2006-04-16MelbourneAdelaide,0 1976-12-07Nathan Bassett 1 1977-...,0 1988-02-16Clint Bartram 1 1...,False,0 100 1 49 2 90 3 90 4 ...,0 81 1 90 2 100 3 100 4 ...,"[[1976-12-07Nathan Bassett, 1977-09-04Rhett Bi...",22.0,22.0
3,2006-04-22FremantleAdelaide,0 1976-12-07Nathan Bassett 1 1977-...,0 1976-03-01Peter Bell 1 19...,False,0 100 1 66 2 94 3 95 4 ...,0 100 1 69 2 88 3 70 4 ...,"[[1976-12-07Nathan Bassett, 1977-09-04Rhett Bi...",22.0,22.0
4,2006-04-29AdelaideWestern Bulldogs,0 1976-12-07Nathan Bassett 1 1977-...,0 1982-08-27Matthew Boyd 1 ...,False,0 100 1 54 2 86 3 52 4 ...,0 56 1 100 2 75 3 76 4 ...,"[[1976-12-07Nathan Bassett, 1977-09-04Rhett Bi...",22.0,22.0

In [46]:
iterations = len(data_wrangled.index)

for i in range(0,iterations):
    winplayers = {}
    lossplayers = {}
    winplaypercent = []
    lossplaypercent = []
    
    for j in range(0,22):
        try:
            winplayers[data_wrangled.loc[i,'Winteam Players'][j]]=playerskill[data_wrangled.loc[i,'Winteam Players'][j]]
            lossplayers[data_wrangled.loc[i,'Lossteam Players'][j]]=playerskill[data_wrangled.loc[i,'Lossteam Players'][j]]
            winplaypercent.append(data_wrangled.loc[i,'Winteam Players %time'][j])
            lossplaypercent.append(data_wrangled.loc[i,'Lossteam Players %time'][j])
        except KeyError:
            None
    try:
        IsDraw = data_wrangled.loc[i,'GameDraw']
        if IsDraw:
            teamranks = ([1 for x in range(0,22)],[1 for x in range(0,22)])
        else:
            teamranks = ([0 for x in range(0,22)],[1 for x in range(0,22)])
        winplaypercent[:]=[x/100.0 for x in winplaypercent]
        lossplaypercent[:]=[x/100.0 for x in lossplaypercent]
        rated_teams = [winplayers,lossplayers]
        winplayers,lossplayers = ts.rate(rated_teams,weights = [winplaypercent,lossplaypercent], ranks = teamranks)
        playerskill.update(winplayers)
        playerskill.update(lossplayers)
    except KeyError:
        None

In [76]:
playerskill_df.head()

,index,Rating,Player,mu,sigma,skills_threesigma,Player Name,Player DOB
0,1971-08-21Robert Harvey,"trueskill.Rating(mu=21.544, sigma=6.042)",1971-08-21Robert Harvey,21.544077,6.041666,3.419079,Robert Harvey,1971-08-21
1,1972-07-26Nathan Buckley,"trueskill.Rating(mu=25.308, sigma=7.276)",1972-07-26Nathan Buckley,25.307550,7.275603,3.480740,Nathan Buckley,1972-07-26
2,1972-10-05Justin Peckett,"trueskill.Rating(mu=28.061, sigma=7.556)",1972-10-05Justin Peckett,28.060872,7.555718,5.393716,Justin Peckett,1972-10-05
3,1972-10-21Andrew Thompson,"trueskill.Rating(mu=25.319, sigma=7.431)",1972-10-21Andrew Thompson,25.319448,7.431254,3.025687,Andrew Thompson,1972-10-21
4,1972-12-13Chris Grant,"trueskill.Rating(mu=26.839, sigma=6.993)",1972-12-13Chris Grant,26.839051,6.993016,5.860004,Chris Grant,1972-12-13

In [74]:
playerskill_df = pd.DataFrame(pd.Series(playerskill))
playerskill_df.columns=['Rating']
playerskill_df['Player'] = playerskill_df.index
playerskill_df.reset_index(level=0, inplace=True)
for i in range(0,len(playerskill_df.index)):
    playerskill_df.loc[i,'mu']=playerskill_df['Rating'][i].mu
    playerskill_df.loc[i,'sigma']=playerskill_df['Rating'][i].sigma
    #99.7% Confidence interval
    playerskill_df.loc[i,'skills_threesigma'] = playerskill_df['Rating'][i].mu - 3*playerskill_df['Rating'][i].sigma
    playerskill_df.loc[i,'Player Name'] = playerskill_df.loc[i,'Player'][10:]
    playerskill_df.loc[i,'Player DOB'] = playerskill_df.loc[i,'Player'][:10]

In [75]:
playerskill_df.to_csv('player skill 2006-2016.csv')